@import "variables";

@font-face {
  font-family: GrandHotel;
  src: url(./assets/fonts/GrandHotel-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

body {
  * {
    box-sizing: border-box;
    font-family: Poppins, 'sans-serif';
  }
  a {
    text-decoration: none;
  }
  margin: 0;
  color: $primaryTextColor;
  input {
    outline: none;
    line-height: 24px;
    padding: 1px 5px;
    font-size: 14px;
    border: 1px solid $divideColor;
    &:focus {
      border-color: $primaryColor;
    }
  }
  button {
    line-height: 23px;
    font-size: 14px;
    cursor: pointer;
    background-color: $primaryColor;
    color: $textAndIconColor;
    border: 1px solid $primaryColor;
    outline: none;
    font-weight: bold;
    &:hover {
      background-color: $textAndIconColor;
      color: $primaryColor;
    }
  }
}
